@charset "utf-8";
/* CSS Document */

/* STUDENTS, PUT YOUR STYLES HERE */
/* 1. Make the green item box here get a blue background color on hover. Use a 1 second duration. */
.item_1_box {
	background-color:#090;
	transition: background-color .5s ease .2s;
}
.item_1_box:hover {
	background-color: blue;
}

/* 2. Make the green item box here become noticeably wider on hover. Use a 3 second duration. */
.item_2_box {
	width: 50%;
	transition: width .2s ease .1s;
}
.item_2_box:hover {
	width: 75%;
}

/* 3. Make the green item box here noticeably increase its height on hover. Use a .5 second duration. */
.item_3_box {
	height: 1.2em;
	transition: height .2s ease .1s;								
}
.item_3_box:hover{
		height: 2em;
}

/* 4. Make the green item box here become larger on hover, using transform:scale (not width &amp; height).*/
.item_4_box {
	scale: 1;
}
.item_4_box:hover {
	transform: scale(1.3);
}

/* 5. Make the green item box here become noticeably more transparent on hover. */
.item_5_box {
	opacity: 1;
	height: 1.2em;
	transition: opacity .5s ease .1s;
}
.item_5_box:hover {
	opacity: .6;
}

/* 6. Make this green item box's text become a different color and larger font size on hover. */
.item_6_box {
	color:#ff9;
	font-size: 1em;
	transition: color .2s ease .1s;	
}
.item_6_box:hover {
	color: #101601;
}

/* 7. Increase the padding-left of this green item box on hover, so the text inside noticeably slides to the right. */
.item_7_box {
	width: 80%;
	padding-left: 4%;
	text-align:left;
	transition: padding-left .2s ease .1s;	
}
.item_7_box:hover{
	padding-left: 8%;
}

/* 8. On hover make the green item box here animate becoming wider, and after that change is completely done, THEN animate becoming a different text color. */
.item_8_box {
	width:50%;
	color:#ff9;
	background-color: #090;
	transition: width .5s ease .2s,
	 color .5s ease .7s;
}
.item_8_box:hover {
	width: 70%;
	color: #101601;

}

/* 9. Assign the img/dog.png as the background of the green item box. Show its head at first, then on hover slide the image to the left to show its tail. */
.item_9_box {
	width: 150px;
	height: 34px;
	padding: 26px 0 0 0;
	background-image: url(../img/dog.png);
	background-position: 2px 0;
	transition: background-position .4s ease-in 0s;
}
.item_9_box:hover {
	background-position: 150px 0;
}














/* DO NOT TOUCH STYLES BELOW HERE. Designing for mobile first */
html {	background-color:#210;
	font-size:100%;	}
body {	background-color:#dcb;
	font-size:90%;
	width:94%; max-width:1280px;
	margin: 0 auto 1rem auto;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.4;	}
header {	background-color:#765; }
main {
	display:block;
	padding: 1rem 1rem 1rem 1rem;
}
h1 { font-size:1.4em;
	font-weight:bold;
	padding:1rem;
	color: #fff; }

a  { color:#ddf;text-decoration:underline; }
a:link  { color:#ddf;  }
a:visited { color:#bbf; }
a:hover { color:#fff;   }
a:focus { color:#fff; }
a:active { color:#99f; }

.grid-container {
	padding: 2rem 0 0 0;
}
article {
	margin: 0 1% .5rem 0;
	position: relative;
	background-color:#fff;
	height: 16rem;
}
article header {
	background-color:#fed;
	padding: 1rem 1rem 1rem 1rem;
}
article footer {
	background-color:#fed;
	width:100%;
	font-style:italic;
	font-size: .8rem;
	color:#600;
	position:absolute;
	bottom:0;
	min-height:3rem;
}
article footer p {
	padding: 1rem 1rem 1rem 1rem;
}

/* DO NOT TOUCH. STYLES ALL THE GREEN ITEM BOXES SHARE */

section {
	background-color:#090;
	width: 50%; height: 1.2em;
	font-size: .9em;
	padding: 4%;
	color:#eed;
	text-align:center;
	margin: 6% auto 6% auto;
	cursor:pointer;
}


/* DO NOT TOUCH. Define styles that should only happen if the screen is wider */
@media screen and (min-width:481px){
	html{
		font-size:100%;
	}
}
@media screen and (min-width:721px){
	html{
		font-size:110%;
	}
	.grid-container {
		display:flex;
		flex-flow:row wrap;
		justify-content: left;
		padding: 2rem 0 0 0;
	}
	article {
		margin: 0 1% .5rem 0;
		flex:1 1 32%;
		height: 20rem;
	}
	article header {
		min-height:7rem;
	}
	article footer {
		width:100%;
	}
}
@media screen and (min-width:960px){
	html{
		font-size:115%;
	}
}
/* ADD YOUR CODE AT TOP OF PAGE */
